#search-result {
    padding-left: 24px;
    padding-right: 24px;
}

.search-result-container {
}

.search-result-container .search-result-container-header{
    margin-bottom: 12px;
}

#search-result hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

.search-result-row {
}