<div id="header" class="navbar navbar-fixed-top" ng-controller="HeaderController">

    <div class="container">

        <div class="row">

            <div class="input-group">

                <input type="text" class="form-control" placeholder="Search..."
                       x-webkit-speech lang="en"
                       ng-model="searchText" ng-enter="search()">

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"
                                ng-click="search()">
                            <i class="icon-search"></i>
                        </button>

                    </span>

            </div>

        </div>

    </div>
</div>