<div ng-controller="PlaylistsController">

    <div id="header" class="navbar navbar-fixed-top">

        <div class="container">

            <div class="row">

                <div class="header-nav" ng-include="'app/views/HeaderNavigation.html'"></div>

                <div class="input-group header-content">

                    <input type="text" class="form-control" placeholder="Filter..."
                           x-webkit-speech lang="en"
                           ng-model="filterText">

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary"
                                ng-click="toggleSort()">
                            <i class="{{ sort.icon }}"></i>
                        </button>
                    </span>

                </div>

            </div>

        </div>
    </div>

    <div id="content">

        <div class="container">

            <div class="row content-header">
                <span class="text-muted">PLAYLISTS</span>
                <span class="text-muted">&nbsp;</span>
                <i class="icon-refresh loading" ng-show="isLoading"></i>
                <hr>
            </div>

            <div class="row content-item"
                 ng-include="'app/views/PlaylistItem.html'"
                 ng-repeat="playlist in playlists" ng-show="playlist.visible"></div>

        </div>

    </div>

</div>
